@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 240 28% 14%;
    --card: 0 0% 100%;
    --card-foreground: 240 28% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 28% 14%;
    --primary: 216 75% 14%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 88%;
    --secondary-foreground: 216 75% 14%;
    --muted: 0 0% 88%;
    --muted-foreground: 220 9% 46%;
    --accent: 14 64% 46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 216 75% 14%;
    --radius: 0.5rem;
  }
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Segoe UI', system-ui, sans-serif;
  }
}
